/**
 * mnmlWP Recent Post Widget Styles
 */

.mnmlwp-recent-posts-link {
    display: inline-block;
    width: 100%;
    position: relative;
    overflow: hidden;
    vertical-align: middle;
    height: 100%;
    padding-bottom: .375em;
    margin-bottom: .25em;
    border-bottom: 1px solid rgba(0,0,0,.06125);
}

.mnmlwp-recent-posts-link:last-of-type {
    padding-bottom: 0;
    border: 0;
}

.mnmlwp-recent-posts-link-thumbnail {
    width: 1.875em;
    height: 1.875em;
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    position: relative;
    top: .25em;
    margin-left: .6125em;
}

.mnmlwp-recent-posts-link-thumbnail img {
    border-radius: 50%;
}

.mnmlwp-recent-posts-link-title {
    width: calc(100% - 2.6125em);
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.mnmlwp-recent-posts-link-title.mnmlwp-recent-posts-link-title-no-thumb {
    width: 100%;
    padding: .125em 0;
}
