/* mnmlWP admin CSS */
.mnmlwp-last {
  margin-bottom: 0;
  padding-bottom: 0;
}

#mnmlwp-hero-fieldset-message {
  display: block;
  overflow: hidden;
}

#mnmlwp-hero-fieldset {
  display: none;
}

#mnmlwp-hero-fieldset.mnmlwp-has-hero {
  display: block;
  overflow: hidden;
  height: auto;
}

/* Hero section */
.mnmlwp-label {
  display: block;
  font-weight: 600;
  padding: .6125em .125em .375em;
}

.mnmlwp-row {
  display: block;
  padding: .25em .125em;
}
