/* -----------------------------------------
   9. Hamburger Navigation
   ----------------------------------------- */

@media screen and (min-width: 768px) {
    .hamburger {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .hamburger {
        display: inline-block;
        position: absolute;
        z-index: 2;
        left: auto;
        right: .75em;
        top: -3.6em;
        opacity: 1;
        padding-right: 0;
    }
}
