/**
 * mnmlWP Colored Categories Widget Styles
 */

.mnmlwp-colored-category-link {
    display: flex;
    position: relative;
    align-items: center;
    padding: .5em 0;
    border-bottom: 1px solid rgba(0,0,0,.06125);
}

.mnmlwp-colored-category-link:last-of-type {
    margin-bottom: 0;
    padding-bottom: 0;
    border: 0;
}

.mnmlwp-colored-category-link-color {
    color: #fff;
    font-weight: 400;
    width: auto;
    float: right;
    text-align: center;
    line-height: 1;
    border-radius: 0;
    transition: all .2s ease;
    padding: 7px 9px;
    margin-right: 3px;
    margin-left: auto;
    font-size: .875em;
    position: relative;
}

.mnmlwp-colored-category-link-color:hover,
.mnmlwp-colored-category-link-color:focus, 
.mnmlwp-colored-category-link:hover .mnmlwp-colored-category-link-color,
.mnmlwp-colored-category-link:focus .mnmlwp-colored-category-link-color {
    transition: all .2s ease;
    opacity: .825;
}

.mnmlwp-colored-category-link-title {
    margin-right: .5em;
}
